.button {
    width:auto;
    border-radius: 10px;
    padding: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #eb0d0d;
    font-weight: 700;
    text-decoration: none;
	display:inline-block;
	background-color: #5719e9;
	padding: 15px 35px;

}
.button:hover{
    background-color: transparent;
    border-radius: 5px;
    color: #19beb6;
}